Repository uselagoon/lagoon-charts, pull requests merged in 2020-12, with the labels that each got.

#171 Lagoon ci
  .github/workflows/lint-test.yaml
  .github/workflows/test-suite.yaml
  Makefile
  charts/lagoon-test/Chart.yaml
  charts/lagoon-test/ci/linter-values.yaml.tpl
  charts/lagoon-test/templates/tests/test-suite.yaml
  charts/lagoon-test/values.yaml
Labels: ci, lagoon-test

#174 Consolidation fixes
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
Labels: lagoon-logging

#176 Add option to override the build-deploy-dind image in CI
  .github/workflows/test-suite.yaml
  Makefile
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/webhooks2tasks.deployment.yaml
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/templates/lagoon-build-deploy.deployment.yaml
  charts/lagoon-remote/values.yaml
  charts/lagoon-test/Chart.yaml
  charts/lagoon-test/ci/linter-values.yaml.tpl
Labels: ci, lagoon-remote

#179 Increase default docker-host volume size
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-remote

#188 Add lagoon-build-deploy chart
  README.md
  charts/lagoon-build-deploy/.helmignore
  charts/lagoon-build-deploy/Chart.yaml
  charts/lagoon-build-deploy/ci/linter-values.yaml
  charts/lagoon-build-deploy/crds/lagoonBuild.yaml
  charts/lagoon-build-deploy/templates/NOTES.txt
  charts/lagoon-build-deploy/templates/_helpers.tpl
  charts/lagoon-build-deploy/templates/clusterrolebinding.yaml
  charts/lagoon-build-deploy/templates/deployment.yaml
  charts/lagoon-build-deploy/templates/secret.yaml
  charts/lagoon-build-deploy/templates/service.yaml
  charts/lagoon-build-deploy/templates/serviceaccount.yaml
  charts/lagoon-build-deploy/values.yaml
  default.ct.yaml
  test-suite-lint.ct.yaml
Labels: lagoon-build-deploy

#189 Use lagoon-build-deploy subchart in lagoon-remote
  .github/workflows/release.yaml
  .github/workflows/test-suite.yaml
  .gitignore
  Makefile
  charts/lagoon-build-deploy/Chart.yaml
  charts/lagoon-build-deploy/templates/_helpers.tpl
  charts/lagoon-build-deploy/templates/deployment.yaml
  charts/lagoon-build-deploy/values.yaml
  charts/lagoon-remote/.gitignore
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/ci/linter-values.yaml
  charts/lagoon-remote/crds/lagoonBuild.yaml
  charts/lagoon-remote/templates/_helpers.tpl
  charts/lagoon-remote/templates/lagoon-build-deploy.clusterrolebinding.yaml
  charts/lagoon-remote/templates/lagoon-build-deploy.deployment.yaml
  charts/lagoon-remote/templates/lagoon-build-deploy.secret.yaml
  charts/lagoon-remote/templates/lagoon-build-deploy.service.yaml
  charts/lagoon-remote/templates/lagoon-build-deploy.serviceaccount.yaml
  charts/lagoon-remote/values.yaml
  charts/lagoon-test/Chart.yaml
  charts/lagoon-test/README.md
  default.ct.yaml
Labels: lagoon-remote

#191 WIP: Add multiple-controller configuration options to lagoon-build-deploy chart
  charts/lagoon-build-deploy/Chart.yaml
  charts/lagoon-build-deploy/templates/deployment.yaml
  charts/lagoon-build-deploy/values.yaml
Labels: lagoon-build-deploy

#194 update lagoon-build-deploy pullrequest.number to be a string
  .github/workflows/test-suite.yaml
  Makefile
  charts/lagoon-build-deploy/Chart.yaml
  charts/lagoon-build-deploy/crds/lagoonBuild.yaml
Labels: lagoon-build-deploy

#193 allow to inject task environment variables
  charts/lagoon-build-deploy/Chart.yaml
  charts/lagoon-build-deploy/templates/deployment.yaml
  charts/lagoon-build-deploy/values.yaml
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-build-deploy, lagoon-core

#197 support for router logs with new ingress-nginx helmchart
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
Labels: lagoon-logging
