Repository uselagoon/lagoon-charts, pull requests merged in 2020-11, with the labels that each got.

#142 Safe underscore replacement
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
Labels: lagoon-logging

#148 Various fixes to github workflow for chart-testing-action@v2.0.0
  .github/workflows/lint-test.yaml
Labels: ci

#143 Parse haproxy router logs more thoroughly
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
  charts/lagoon-logging/test-parser-regex.rb
Labels: lagoon-logging

#149 Manually add required repository for chart-releaser
  .github/workflows/release.yaml
Labels: ci

#155 Fix openshift haproxy logs
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/README.md
  charts/lagoon-logging/templates/_helpers.tpl
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
  charts/lagoon-logging/templates/logs-dispatcher.service.yaml
  charts/lagoon-logging/templates/logs-dispatcher.servicemonitor.yaml
  charts/lagoon-logging/templates/logs-dispatcher.statefulset.yaml
  charts/lagoon-logging/templates/openshift-haproxy-logs-collector.fluent-bit-conf.configmap.yaml
  charts/lagoon-logging/templates/openshift-haproxy-logs-collector.service.yaml
  charts/lagoon-logging/templates/openshift-haproxy-logs-collector.servicemonitor.yaml
  charts/lagoon-logging/templates/openshift-haproxy-logs-collector.statefulset.yaml
  charts/lagoon-logging/values.yaml
  charts/lagoon-logs-concentrator/Chart.yaml
  charts/lagoon-logs-concentrator/templates/servicemonitor.yaml
Labels: lagoon-logging

#161 reduce length of openshiftHaproxyLogsCollector names
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/openshift-haproxy-logs-collector.fluent-bit-conf.configmap.yaml
  charts/lagoon-logging/templates/openshift-haproxy-logs-collector.statefulset.yaml
Labels: lagoon-logging

#150 Add YAML linting to CI
  .github/workflows/lint-test.yaml
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/ci/linter-values.yaml
  charts/lagoon-core/templates/api-db.statefulset.yaml
  charts/lagoon-core/templates/api-redis.deployment.yaml
  charts/lagoon-core/templates/api.deployment.yaml
  charts/lagoon-core/templates/auth-server.deployment.yaml
  charts/lagoon-core/templates/auto-idler.deployment.yaml
  charts/lagoon-core/templates/backup-handler.deployment.yaml
  charts/lagoon-core/templates/broker.statefulset.yaml
  charts/lagoon-core/templates/controllerhandler.deployment.yaml
  charts/lagoon-core/templates/drush-alias.deployment.yaml
  charts/lagoon-core/templates/keycloak-db.statefulset.yaml
  charts/lagoon-core/templates/keycloak.deployment.yaml
  charts/lagoon-core/templates/logs-db-curator.deployment.yaml
  charts/lagoon-core/templates/logs2email.deployment.yaml
  charts/lagoon-core/templates/logs2microsoftteams.deployment.yaml
  charts/lagoon-core/templates/logs2rocketchat.deployment.yaml
  charts/lagoon-core/templates/logs2slack.deployment.yaml
  charts/lagoon-core/templates/ssh-portal.deployment.yaml
  charts/lagoon-core/templates/ssh.deployment.yaml
  charts/lagoon-core/templates/storage-calculator.deployment.yaml
  charts/lagoon-core/templates/ui.deployment.yaml
  charts/lagoon-core/templates/webhook-handler.deployment.yaml
  charts/lagoon-core/templates/webhooks2tasks.deployment.yaml
  charts/lagoon-core/values.yaml
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/ci/linter-values.yaml
  charts/lagoon-logging/templates/clusteroutput.yaml
  charts/lagoon-logging/templates/logging.yaml
  charts/lagoon-logs-concentrator/Chart.yaml
  charts/lagoon-logs-concentrator/ci/linter-values.yaml
  charts/lagoon-logs-concentrator/templates/statefulset.yaml
  charts/lagoon-logs-concentrator/templates/tests/test-connection.yaml
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/templates/docker-host.deployment.yaml
  charts/lagoon-remote/templates/lagoon-build-deploy.deployment.yaml
  charts/lagoon-remote/values.yaml
  charts/lagoon-test/Chart.yaml
  charts/lagoon-test/templates/local-api-data-watcher-pusher.deployment.yaml
  charts/lagoon-test/templates/local-git.deployment.yaml
  charts/lagoon-test/values.yaml
Labels: ci

#141 Add nginx test suite
  .github/workflows/lint-test.yaml
  Makefile
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/api.deployment.yaml
  charts/lagoon-core/templates/ui.deployment.yaml
  charts/lagoon-core/templates/ui.hpa.yaml
  charts/lagoon-core/templates/ui.ingress.yaml
  charts/lagoon-core/templates/ui.service.yaml
  charts/lagoon-core/values.yaml
  charts/lagoon-test/Chart.yaml
  charts/lagoon-test/README.md
  charts/lagoon-test/ci/.gitignore
  charts/lagoon-test/templates/secret.yaml
  charts/lagoon-test/templates/tests/test-suite.yaml
  charts/lagoon-test/values.yaml
  default.ct.yaml
Labels: ci, lagoon-test

#167 Add support for active-standby to lagoon-remote chart
  Makefile
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/crds/dioscuri.yaml
  charts/lagoon-remote/crds/lagoonBuild.yaml
  charts/lagoon-remote/templates/_helpers.tpl
  charts/lagoon-remote/templates/dioscuri.clusterrole.yaml
  charts/lagoon-remote/templates/dioscuri.clusterrolebinding.yaml
  charts/lagoon-remote/templates/dioscuri.deployment.yaml
  charts/lagoon-remote/templates/dioscuri.role.yaml
  charts/lagoon-remote/templates/dioscuri.rolebinding.yaml
  charts/lagoon-remote/templates/dioscuri.service.yaml
  charts/lagoon-remote/templates/dioscuri.serviceaccount.yaml
  charts/lagoon-remote/templates/lagoon-build-deploy.deployment.yaml
  charts/lagoon-remote/values.yaml
  charts/lagoon-test/Chart.yaml
  charts/lagoon-test/templates/tests/test-suite.yaml
Labels: ci, lagoon-remote, lagoon-test

#170 Increase the default size of the docker-host volume
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/ci/linter-values.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-remote
