Repository uselagoon/lagoon-charts, pull requests merged in 2020-10, with the labels that each got.

#10 Flush performance
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
  charts/lagoon-logging/values.yaml
  charts/lagoon-logs-concentrator/Chart.yaml
  charts/lagoon-logs-concentrator/templates/fluent-conf.configmap.yaml
Labels: lagoon-logging

#114 Bump the logging-operator dependency version
  charts/lagoon-logging/Chart.lock
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/clusterflow.yaml
Labels: lagoon-logging

#117 Remove custom roles
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/templates/kubernetes-build-deploy.clusterrolebinding.yaml
  charts/lagoon-remote/templates/lagoon-build-deploy.clusterrole.yaml
  charts/lagoon-remote/templates/lagoon-build-deploy.clusterrolebinding.yaml
  charts/lagoon-remote/templates/lagoon-build-deploy.role.yaml
  charts/lagoon-remote/templates/lagoon-build-deploy.rolebinding.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-remote

#123 Use "main" image tag instead of "lagoon-core"
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/ci/linter-values.yaml
  charts/lagoon-test/Chart.yaml
  charts/lagoon-test/ci/linter-values.yaml
  charts/lagoon-test/values.yaml
Labels: lagoon-core, lagoon-test

#115 Added x-forwarded-for support to the nginx container logs parser
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
  charts/lagoon-logging/test-haproxy-regex.rb
  charts/lagoon-logging/test-parser-regex.rb
Labels: lagoon-logging

#133 Lagoon Monitoring
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/ci/linter-values.yaml
  charts/lagoon-core/templates/broker.service.yaml
  charts/lagoon-core/templates/broker.servicemonitor.yaml
  charts/lagoon-core/templates/broker.statefulset.yaml
  charts/lagoon-core/values.yaml
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/ci/linter-values.yaml
  charts/lagoon-logging/templates/logging.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
  charts/lagoon-logging/templates/logs-dispatcher.servicemonitor.yaml
  charts/lagoon-logging/values.yaml
  charts/lagoon-logs-concentrator/Chart.yaml
  charts/lagoon-logs-concentrator/ci/linter-values.yaml
  charts/lagoon-logs-concentrator/templates/fluent-conf.configmap.yaml
  charts/lagoon-logs-concentrator/templates/service.yaml
  charts/lagoon-logs-concentrator/templates/servicemonitor.yaml
  charts/lagoon-logs-concentrator/templates/statefulset.yaml
  charts/lagoon-logs-concentrator/values.yaml
  helmfiles/lagoon-monitoring/auth.yaml.gotmpl
  helmfiles/lagoon-monitoring/helmfile.yaml
  helmfiles/lagoon-monitoring/prometheus.yaml.gotmpl
  helmfiles/lagoon-monitoring/values.yaml
Labels: lagoon-core, lagoon-logging, lagoon-logs-concentrator, lagoon-monitoring

#136 hotfix: correct apiVersion for ServiceMonitor
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/broker.servicemonitor.yaml
Labels: lagoon-core

#138 Update required repositories in test and release workflows
  .github/workflows/lint-test.yaml
  .github/workflows/release.yaml
Labels: ci

#137 follow naming convention of rabbitmq queues
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.source-lagoon.configmap.yaml
Labels: lagoon-logging

#135 Use Harbor registry in CI
  .github/workflows/lint-test.yaml
  Makefile
  charts/lagoon-test/Chart.yaml
  charts/lagoon-test/README.md
  charts/lagoon-test/templates/local-api-data-watcher-pusher.deployment.yaml
  test-suite.kind-config.yaml
Labels: lagoon-test

#139 Fluentd suppress warning
  charts/lagoon-logs-concentrator/Chart.yaml
  charts/lagoon-logs-concentrator/templates/fluent-conf.configmap.yaml
Labels: lagoon-logs-concentrator

#140 Underline to dashes
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
Labels: lagoon-logging
