Repository uselagoon/lagoon-charts, pull requests merged in 2021-02, with the labels that each got.

#207 Logging extra conf
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
  charts/lagoon-logging/values.yaml
Labels: lagoon-logging

#208 Add lagoon-gatekeeper chart
  .github/workflows/lint-test.yaml
  .github/workflows/release.yaml
  .github/workflows/test-suite.yaml
  charts/lagoon-gatekeeper/.gitignore
  charts/lagoon-gatekeeper/.helmignore
  charts/lagoon-gatekeeper/Chart.lock
  charts/lagoon-gatekeeper/Chart.yaml
  charts/lagoon-gatekeeper/README.md
  charts/lagoon-gatekeeper/ci/linter-values.yaml
  charts/lagoon-gatekeeper/templates/_helpers.tpl
  charts/lagoon-gatekeeper/templates/config.yaml
  charts/lagoon-gatekeeper/templates/constrainttemplate.yaml
  charts/lagoon-gatekeeper/templates/psp-pods-allowed-user-ranges.constraint.yaml
  charts/lagoon-gatekeeper/values.yaml
  default.ct.yaml
  test-suite-lint.ct.yaml
Labels: lagoon-gatekeeper

#209 CI improvements
  Makefile
  charts/lagoon-test/Chart.yaml
  charts/lagoon-test/README.md
Labels: ci, lagoon-test

#211 Automate constraint installation in lagoon-gatekeeper
  charts/lagoon-gatekeeper/Chart.yaml
  charts/lagoon-gatekeeper/templates/constraint.job.yaml
  charts/lagoon-gatekeeper/templates/psp-pods-allowed-user-ranges.constraint.yaml
  charts/lagoon-gatekeeper/values.yaml
Labels: lagoon-gatekeeper

#212 Upgrade gatekeeper dependency
  charts/lagoon-gatekeeper/Chart.lock
  charts/lagoon-gatekeeper/Chart.yaml
  charts/lagoon-gatekeeper/templates/config.yaml
Labels: lagoon-gatekeeper

#215 Fix name length issues in lagoon-gatekeeper
  charts/lagoon-gatekeeper/Chart.yaml
  charts/lagoon-gatekeeper/templates/_helpers.tpl
  charts/lagoon-gatekeeper/templates/constraint.job.yaml
  charts/lagoon-gatekeeper/templates/psp-pods-allowed-user-ranges.constraint.yaml
Labels: lagoon-gatekeeper

#214 Lagoon gatekeeper integration with lagoon-remote
  .github/workflows/lint-test.yaml
  charts/lagoon-remote/Chart.lock
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/ci/linter-values.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-remote

#218 Add ability to override the build-deploy image repository
  Makefile
Labels: ci

#219 Bump lagoon-build-deploy to use latest version
  charts/lagoon-build-deploy/Chart.yaml
Labels: lagoon-build-deploy

#220 Bump dependencies of lagoon-remote
  charts/lagoon-remote/Chart.lock
  charts/lagoon-remote/Chart.yaml
Labels: lagoon-remote

#222 chore: remove unused variable from Makefile
  Makefile
Labels: ci

#223 chore: update PR template
  .github/pull_request_template.md
Labels: ci

#224 Add experimental support for rootless build pods
  Makefile
  charts/lagoon-build-deploy/Chart.yaml
  charts/lagoon-build-deploy/templates/deployment.yaml
  charts/lagoon-build-deploy/values.yaml
Labels: lagoon-build-deploy

#210 Lagoon core user consistency
  Makefile
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/values.yaml
Labels: lagoon-core

#217 add needs-testing label logic to github actions
  .github/workflows/lint-test.yaml
  .github/workflows/test-suite.yaml
Labels: needs-testing

#227 Revert back to default Lagoon images
  Makefile
Labels: ci, needs-testing

#230 Bump lagoon-logging dependency on logging-operator
  charts/lagoon-logging/Chart.lock
  charts/lagoon-logging/Chart.yaml
Labels: lagoon-logging

#232 update Lagoon to v2.0.0-alpha.7 (and dioscuri to 0.2.2)
  charts/lagoon-core/Chart.yaml
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logs-concentrator/Chart.yaml
  charts/lagoon-remote/Chart.lock
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-test/Chart.yaml
Labels: all charts
