Repository uselagoon/lagoon-charts, pull requests merged in 2021-03, with the labels that each got.

#231 Don't update dependencies in lagoon-remote during CI
  .github/workflows/test-suite.yaml
  Makefile
Labels: ci, needs-testing

#195 lagoon-remote docker-host openshift support
  charts/lagoon-remote/Chart.lock
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/templates/docker-host.clusterrole.yaml
  charts/lagoon-remote/templates/docker-host.rolebinding.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-remote

#236 Retain kubernetes fields in application logs
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
Labels: lagoon-logging

#239 Make the logs-dispatcher probes more forgiving
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.statefulset.yaml
Labels: lagoon-logging

#240 Allow hostname to be ignored in lagoon-logging TLS verification
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
  charts/lagoon-logging/values.yaml
Labels: lagoon-logging

#241 Rely on built-in operator service monitors
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/ci/linter-values.yaml
  charts/lagoon-logging/templates/logging.yaml
  charts/lagoon-logging/values.yaml
Labels: lagoon-logging

#242 Add option to disable Elasticsearch certificate verification
  charts/lagoon-logs-concentrator/Chart.yaml
  charts/lagoon-logs-concentrator/templates/fluent-conf.configmap.yaml
  charts/lagoon-logs-concentrator/values.yaml
Labels: lagoon-logs-concentrator
