Repository uselagoon/lagoon-charts, pull requests merged in 2021-07, with the labels that each got.

#286 use kind-action 1.2.0 for github actions
  .github/workflows/lint-test.yaml
  .github/workflows/test-suite.yaml
Labels: needs-testing

#293 Re-enable the ingress-nginx admission controller in CI
  Makefile
Labels: ci, needs-testing

#296 Make the logs-dispatcher statefulset volumeTemplate configurable
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/ci/linter-values.yaml
  charts/lagoon-logging/templates/logs-dispatcher.statefulset.yaml
  charts/lagoon-logging/values.yaml
Labels: lagoon-logging

#297 Add README for lagoon-build-deploy chart
  charts/lagoon-build-deploy/Chart.yaml
  charts/lagoon-build-deploy/README.md
Labels: lagoon-build-deploy

#295 Add optional mxout service to lagoon-remote chart
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/ci/linter-values.yaml
  charts/lagoon-remote/templates/mxout.service.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-remote

#300 Adding k8up annotations to api-db and keycloak-db pods in lagoon-core chart
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/api-db.statefulset.yaml
  charts/lagoon-core/templates/keycloak-db.statefulset.yaml
Labels: lagoon-core

#302 update to lagoon-core rc7
  charts/lagoon-core/Chart.yaml
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logs-concentrator/Chart.yaml
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-test/Chart.yaml
Labels: lagoon-core

#304 Add Lagoon load-balancer tolerations to fluentbit daemonset
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logging.yaml
  charts/lagoon-logging/values.yaml
Labels: lagoon-logging

#305 Bump logging-operator chart dependency in lagoon-logging chart
  .github/workflows/lint-test.yaml
  charts/lagoon-logging/Chart.lock
  charts/lagoon-logging/Chart.yaml
Labels: lagoon-logging

#310 Add Kubernetes 1.19 compatibility to lagoon-logging
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
  charts/lagoon-logging/templates/logs-dispatcher.statefulset.yaml
  charts/lagoon-logging/values.yaml
Labels: lagoon-logging

#311 Avoid logging ingress controller logs twice
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
Labels: lagoon-logging

#309 Adding k8up schedule support for lagoon-core
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/k8up.schedule.yaml
  charts/lagoon-core/templates/k8up.secret.yaml
  charts/lagoon-core/values.yaml
Labels: lagoon-core
