Repository uselagoon/lagoon-charts, pull requests merged in 2021-06, with the labels that each got.

#264 use v0.1.10 of lagoon-build-deploy
  charts/lagoon-build-deploy/Chart.yaml
Labels: lagoon-build-deploy

#265 update lagoon-build-deploy
  charts/lagoon-remote/Chart.lock
  charts/lagoon-remote/Chart.yaml
Labels: lagoon-remote

#273 Give the test serviceaccount admin clusterrole
  charts/lagoon-test/Chart.yaml
  charts/lagoon-test/templates/test.clusterrolebinding.yaml
Labels: ci, needs-testing

#274 chore: disable gatekeeper chart in CI
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/ci/linter-values.yaml
Labels: ci, lagoon-remote

#275 Add option to skip installing the registry
  Makefile
Labels: ci, needs-testing

#278 Phonify more targets in the Makefile
  Makefile
Labels: ci

#279 Remove install-tests target from Makefile
  Makefile
Labels: ci, needs-testing

#281 update lagoon-build-deploy to v0.1.15
  charts/lagoon-build-deploy/Chart.yaml
Labels: lagoon-build-deploy

#282 update lagoon-remote with lagoon-build-deploy 0.7.2
  charts/lagoon-remote/Chart.lock
  charts/lagoon-remote/Chart.yaml
Labels: lagoon-remote
