Repository uselagoon/lagoon-charts, pull requests merged in 2022-11, with the labels that each got.

#502 chore: use the new syntax for output variables in github actions
  .github/workflows/lint-test-matrix.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/test-suite.yaml
Labels: ci

#507 Assorted CI dependency updates
  .github/workflows/lint-test-matrix.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/test-suite.yaml
  Makefile
Labels: ci, needs-testing

#470 add OPENSEARCH_INTEGRATION_ENABLED additionalEnv to makefile
  Makefile
Labels: needs-testing

#504 Bump ssh-portal version in lagoon-remote and lagoon-core
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/values.yaml
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-remote, lagoon-core

#513 Spot logging
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/values.yaml
Labels: lagoon-logging

#515 Bump ssh-portal and ssh-portal-api versions
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/values.yaml
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-remote, lagoon-core

#520 Lagoon logging tests
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/ci/linter-values.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
  charts/lagoon-logging/templates/tests/test-connection.yaml
  charts/lagoon-logging/templates/tests/test-logs-dispatcher-processing.yaml
  charts/lagoon-logging/values.yaml
Labels: lagoon-logging

#524 Bump logging-operator dependency
  charts/lagoon-logging/Chart.lock
  charts/lagoon-logging/Chart.yaml
Labels: lagoon-logging
