Repository uselagoon/lagoon-charts, pull requests merged in 2022-12, with the labels that each got.

#481 Lagoon opensearch sync
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/_helpers.tpl
  charts/lagoon-core/templates/keycloak.secret.yaml
  charts/lagoon-core/templates/opensearch-sync.deployment.yaml
  charts/lagoon-core/templates/opensearch-sync.secret.yaml
  charts/lagoon-core/values.yaml
Labels: lagoon-core

#528 Artifacthub changelog check
  .github/workflows/lint-test.yaml
Labels: ci

#514 Add ssh-token service
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/ci/linter-values.yaml
  charts/lagoon-core/templates/_helpers.tpl
  charts/lagoon-core/templates/auth-server.deployment.yaml
  charts/lagoon-core/templates/auth-server.hpa.yaml
  charts/lagoon-core/templates/auth-server.service.yaml
  charts/lagoon-core/templates/ssh-token.deployment.yaml
  charts/lagoon-core/templates/ssh-token.hpa.yaml
  charts/lagoon-core/templates/ssh-token.secret.yaml
  charts/lagoon-core/templates/ssh-token.service.yaml
  charts/lagoon-core/templates/ssh-token.servicemonitor.yaml
  charts/lagoon-core/templates/ssh.deployment.yaml
  charts/lagoon-core/templates/ssh.hpa.yaml
  charts/lagoon-core/templates/ssh.service.yaml
  charts/lagoon-core/values.yaml
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/values.yaml
  charts/lagoon-test/Chart.yaml
  charts/lagoon-test/templates/secret.yaml
  charts/lagoon-test/values.yaml
Labels: lagoon-core

#533 update bitnami/mongo image to 12.1.31
  Makefile
Labels: needs-testing

#536 Bump ssh-portal, ssh-portal-api, and ssh-token service versions
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/values.yaml
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-remote, lagoon-core
