Repository uselagoon/lagoon-charts, pull requests merged in 2022-04, with the labels that each got.

#418 feat: bump logging-operator dependency for lagoon-logging chart
  charts/lagoon-logging/Chart.lock
  charts/lagoon-logging/Chart.yaml
Labels: lagoon-logging

#358 Fix formatting of the install steps in lagoon-logging README
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/README.md
Labels: lagoon-logging

#361 Rename lagoon-kbd to remote-controller in README
  charts/lagoon-build-deploy/Chart.yaml
  charts/lagoon-build-deploy/README.md
Labels: lagoon-build-deploy

#412 Minor updates to insights-core templates to match others
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/insights-handler.deployment.yaml
  charts/lagoon-core/templates/insights-handler.hpa.yaml
  charts/lagoon-core/values.yaml
Labels: lagoon-core

#403 fix: bump the keycloak startup probe timeout to 15m
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/keycloak.deployment.yaml
Labels: lagoon-core

#420 fix: refactor keycloak admin user variable
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/api.deployment.yaml
  charts/lagoon-core/templates/keycloak.deployment.yaml
  charts/lagoon-core/templates/keycloak.secret.yaml
  charts/lagoon-core/values.yaml
Labels: lagoon-core

#427 Enable liveness probe for fluentbit daemonset
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logging.yaml
Labels: lagoon-logging
