Repository uselagoon/lagoon-charts, pull requests merged in 2022-06, with the labels that each got.

#435 Bump logging operator dependency in lagoon-logging chart
  charts/lagoon-logging/Chart.lock
  charts/lagoon-logging/Chart.yaml
Labels: lagoon-logging

#437 Update upstream helm charts in makefile/CI
  .github/workflows/test-suite.yaml
  Makefile
Labels: needs-testing

#445 Startup probes
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/api-db.statefulset.yaml
  charts/lagoon-core/templates/broker.statefulset.yaml
  charts/lagoon-core/templates/keycloak-db.statefulset.yaml
  charts/lagoon-core/values.yaml
Labels: lagoon-core
