Repository uselagoon/lagoon-charts, pull requests merged in 2023-01, with the labels that each got.

#538 fix: handle forward target hosts with dynamic DNS
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
Labels: lagoon-logging

#539 Bump CDN logs collector image version
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/values.yaml
Labels: lagoon-logging

#541 Reduce DNS cache TTL in logs-dispatcher configuration
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logs-dispatcher.fluent-conf.configmap.yaml
Labels: lagoon-logging

#540 Switch logs-concentrator default configuration from Elasticsearch to Opensearch
  charts/lagoon-logs-concentrator/Chart.yaml
  charts/lagoon-logs-concentrator/README.md
  charts/lagoon-logs-concentrator/ci/linter-values.yaml
  charts/lagoon-logs-concentrator/templates/NOTES.txt
  charts/lagoon-logs-concentrator/templates/env.configmap.yaml
  charts/lagoon-logs-concentrator/templates/fluent-conf.configmap.yaml
  charts/lagoon-logs-concentrator/templates/secret.yaml
  charts/lagoon-logs-concentrator/templates/statefulset.yaml
  charts/lagoon-logs-concentrator/values.yaml
Labels: lagoon-logs-concentrator

#544 Bump ssh-portal version in lagoon-remote and lagoon-core
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/values.yaml
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-remote, lagoon-core

#537 Update Kubernetes to 1.24 (and change storageclass) in makefile
  .github/workflows/lint-test.yaml
  .github/workflows/test-suite.yaml
  .gitignore
  Makefile
  ci/calico/README.md
  ci/calico/custom-resources.yaml
  ci/calico/tigera-operator.yaml
  ci/storageclass/local-path-bulk.yaml
  test-suite.kind-config.calico.yaml.tpl
  test-suite.kind-config.yaml.tpl
Labels: needs-testing
