Repository uselagoon/lagoon-charts, pull requests merged in 2023-06, with the labels that each got.

#572 Bump lagoon-opensearch-sync to v0.7.0
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/values.yaml
Labels: lagoon-core

#583 Lagoon Core resource requests
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/ci/linter-values.yaml
  charts/lagoon-core/values.yaml
Labels: lagoon-core

#562 Update kubernetes, kind and helm charts
  .github/workflows/lint-test-matrix.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/test-suite.yaml
  Makefile
Labels: needs-testing

#574 Logging operator update
  .github/workflows/lint-test.yaml
  .github/workflows/release.yaml
  charts/lagoon-logging/Chart.lock
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logging.yaml
  default.ct.yaml
Labels: lagoon-logging

#587 Remove deprecated charts and helmfiles
  .github/workflows/lint-test.yaml
  .github/workflows/release.yaml
  .github/workflows/test-suite.yaml
  charts/lagoon-gatekeeper/.gitignore
  charts/lagoon-gatekeeper/.helmignore
  charts/lagoon-gatekeeper/Chart.lock
  charts/lagoon-gatekeeper/Chart.yaml
  charts/lagoon-gatekeeper/README.md
  charts/lagoon-gatekeeper/ci/linter-values.yaml
  charts/lagoon-gatekeeper/templates/_helpers.tpl
  charts/lagoon-gatekeeper/templates/config.yaml
  charts/lagoon-gatekeeper/templates/constraint.job.yaml
  charts/lagoon-gatekeeper/templates/constrainttemplate.yaml
  charts/lagoon-gatekeeper/templates/psp-pods-allowed-user-ranges.constraint.yaml
  charts/lagoon-gatekeeper/values.yaml
  charts/lagoon-insights-remote/Chart.yaml
  charts/lagoon-insights-remote/README.md
  charts/lagoon-insights-remote/ci/linter-values.yaml
  charts/lagoon-insights-remote/templates/NOTES.txt
  charts/lagoon-insights-remote/templates/_helpers.tpl
  charts/lagoon-insights-remote/templates/clusterrole.yaml
  charts/lagoon-insights-remote/templates/clusterrolebinding.yaml
  charts/lagoon-insights-remote/templates/deployment.yaml
  charts/lagoon-insights-remote/templates/secrets.yaml
  charts/lagoon-insights-remote/templates/serviceaccount.yaml
  charts/lagoon-insights-remote/values.yaml
  default.ct.yaml
  helmfiles/lagoon-monitoring/auth.yaml.gotmpl
  helmfiles/lagoon-monitoring/helmfile.yaml
  helmfiles/lagoon-monitoring/prometheus.yaml.gotmpl
  helmfiles/lagoon-monitoring/values.yaml
  test-suite-lint.ct.yaml
Labels: needs-testing
