Repository uselagoon/lagoon-charts, pull requests merged in 2025-07, with the labels that each got.

#791 add service for cdn-logs-collector metrics
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/cdn-logs-collector-metrics.service.yaml
  charts/lagoon-logging/values.yaml
Labels: lagoon-logging

#801 chore: update lagoon-core to v2.26.1
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/values.yaml
Labels: lagoon-core

#709 feat: support for retention policies
  Makefile
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/actions-handler.deployment.yaml
Labels: lagoon-core, next-release

#808 fix: actions-handler template retention policy s3 variables
  Makefile
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/templates/actions-handler.deployment.yaml
Labels: lagoon-core

#803 feat: keycloak metrics
  Makefile
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/ci/linter-values.yaml
  charts/lagoon-core/templates/keycloak.deployment.yaml
  charts/lagoon-core/templates/keycloak.service.yaml
  charts/lagoon-core/templates/keycloak.servicemonitor.yaml
  charts/lagoon-core/values.yaml
  ci/grafana-dashboards/keycloak-capacity.yaml
  ci/grafana-dashboards/keycloak-troubleshoot.yaml
  ci/grafana-dashboards/ssh-portal.yaml
Labels: lagoon-core

#807 Pass extraEnvs to environment variables directly from values
  charts/lagoon-build-deploy/Chart.yaml
  charts/lagoon-build-deploy/templates/deployment.yaml
  charts/lagoon-docker-host/Chart.yaml
  charts/lagoon-docker-host/templates/docker-host.statefulset.yaml
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/templates/docker-host.statefulset.yaml
  charts/lagoon-remote/templates/insights-remote.deployment.yaml
  charts/lagoon-remote/templates/storage-calculator.deployment.yaml
Labels: lagoon-remote, lagoon-build-deploy, lagoon-docker-host

#802 feat: seeded user and org
  Makefile
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/files/seed-core.js
  charts/lagoon-core/templates/_helpers.tpl
  charts/lagoon-core/templates/api.seeding.job.yaml
  charts/lagoon-core/values.yaml
Labels: lagoon-core

#812 chore: update kind to v0.27.0
  .github/workflows/lint-test-matrix.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/test-suite.yaml
  .gitignore
  Makefile
  test-suite.kind-config.calico.yaml
  test-suite.kind-config.calico.yaml.tpl
  test-suite.kind-config.yaml
  test-suite.kind-config.yaml.tpl
  test-suite.registry.toml.tpl
Labels: needs-testing
