Repository uselagoon/lagoon-charts, pull requests merged in 2025-08, with the labels that each got.

#814 chore: bump remote-controller version
  charts/lagoon-build-deploy/Chart.yaml
Labels: lagoon-build-deploy

#815 chore: update lagoon-build-deploy subchart to v0.36.0
  charts/lagoon-remote/Chart.lock
  charts/lagoon-remote/Chart.yaml
Labels: lagoon-remote

#817 chore: update storage calculator to v0.8.1
  charts/lagoon-remote/Chart.yaml
  charts/lagoon-remote/values.yaml
Labels: lagoon-remote

#818 chore: bump chart versions for lagoon v2.27.0 release
  charts/lagoon-core/Chart.yaml
  charts/lagoon-core/values.yaml
  charts/lagoon-remote/Chart.yaml
Labels: lagoon-remote, lagoon-core

#820 Only expose metrics for enabled CDN logs collector
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/cdn-logs-collector-metrics.service.yaml
Labels: lagoon-logging

#821 Make logging-operator images configurable
  charts/lagoon-logging/Chart.yaml
  charts/lagoon-logging/templates/logging.yaml
  charts/lagoon-logging/values.yaml
Labels: lagoon-logging
